{% extends 'base.html' %}
{% load static %}
{% block header %}
   <!-- tp-header-area-start -->
   <header class="d-none d-lg-block">
      <div id="header-sticky" class="tp-header-area-two tp-header-bg header-transparent header-transparent-two">
         <div class="container-fluid">
            <div class="row align-items-center">
               <div class="col-xxl-3 col-xl-3 col-lg-3">
                  <div class="tp-logo text-start">
                     <a href="{% url 'core:home' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                  </div>
               </div>
               <div class="col-xxl-5 col-xl-6 col-lg-6">
                  <div class="tp-main-menu tp-menu-black tp-bs-menu tp-bp-menu text-center">
                     <nav id="mobile-menu">
                        <ul id = "main-menu">
                           <li><a href="{% url 'core:home' %}">Home</a></li>
                           <li><a href="{% url 'core:services' %}">Services</a></li>
                           <li><a href="{% url 'core:products' %}">Products</a></li>
                           <li><a href="{% url 'core:aboutUs' %}">About Us</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-3 col-lg-3">
                  <div class="tp-header-left d-flex align-items-center justify-content-end ">

                     <div class="tp-header-yellow-button">
                        <a class="tp-btn-white" href="{% url 'core:contact' %}">Contact Us</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- tp-header-area-end -->

   <div id="header-sticky-mobile" class="tp-md-header-area d-md-block d-lg-none ">
      <div class="container-fluid">
         <div class="row align-items-center">
            <div class="col-md-6 col-6">
               <div class="tp-logo">
                  <a href="{% url 'core:home' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
               </div>
            </div>
            <div class="col-md-6 col-6">
               <div class="tp-header-right z-index-1 d-flex align-items-center justify-content-end">
                  <button class="tp-menu-bar"><i class="fal fa-bars"></i></button>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block content %}
<div class="tp-offcanvas-area">
   <div class="tpoffcanvas">
     <div class="tpoffcanvas__logo">
       <a href="{% url 'core:home' %}">
         <img src="{% static 'img/logo/logo.png' %}" alt="">
       </a>
     </div>
     <div class="tpoffcanvas__close-btn">
       <a class="close-btn" href="javascript:void(0)"><i class="fal fa-times-hexagon"></i></a>
     </div>
     <div class="tpoffcanvas__content d-none d-sm-block">
       <p> we specialize in providing top-notch maintenance and fabrication services for oilfield equipment across
         the UAE.</p>
     </div>
     <div class="mobile-menu">

     </div>
     <div class="tpoffcanvas__contact">
       <span>Contact us</span>
       <ul>
         <li><i class="fas fa-star"></i> <a href="javascript:void(0)" target="_blank">UAE
             Sharjah,Abudhabi - Zayd city</a></li>
         <li><i class="fas fa-star"></i> <a href="javascript:void(0)">+971 54 513 8031</a></li>
         <li><i class="fas fa-star"></i> <a href="mailto:info@injectorlary.com">info@injectorlary.com</a></li>
       </ul>
     </div>


   </div>
</div>
<div class="body-overlay"></div>
<main>
      <!-- breadcrumb area start -->
      <section class="breadcrumb__area  breadcrumb__pt-310 include-bg p-relative"
         data-background="{% static 'img/BG.jpg' %}">
         <div class="overlay"></div>
         <!-- <div class="ac-about-shape-img">
            <img src="{% static 'img/breadcrum/ab-shape-1.1.jpg' %}" alt="">
         </div> -->
         <div class="container p-relative">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="breadcrumb__content p-relative z-index-1">
                     <h3 class="breadcrumb__title">Product Details
                     </h3>
                     <p>At Injector & Lary Oilfield Services, our products are meticulously designed and crafted to meet
                        the highest standards. Each piece of oilfield equipment ensures smooth operations, delivering
                        exceptional efficiency and reliability.
                     </p>
                     <a href="{% url 'core:contact' %}" class="tp-btn-white-border">Lets work together <i
                           class="far fa-arrow-right"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- breadcrumb area end -->
      <div class="tp-product-details-area pt-130">
         <div class="container">
            <div class="row align-items-center justify-content-center">
               <div class="col-xl-5 col-lg-6 col-12">
                  {% if product.image %}
                  <div class="tp-project-item-two portfolio-four p-relative">
                     <div class="fix radius-20"><img class="w-100"
                           src="{{ product.image.url }}"
                           alt=""></div>
                     <div class="portfolio-icon z-index-1">
                        <a class="popup-image"
                           href="{{ product.image.url }}"><i
                              class="fal fa-search"></i></a>
                     </div>
                  </div>
                  {% endif %}
               </div>
               <div class="col-xl-5 col-lg-6 col-12">
                  <div class="productdetails">
                     <div class="productdetails__content">
                        <h3 class="pd-title">{% if product.name %}{{product.name}}{% endif %}</h3>
                        <p>{% if product.title %}{{product.description}}{% endif %}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </main>
   <!-- footer-area-start -->

   <!--<footer> -->
      <footer class="p-relative">
         <div class="tp-footer-area pt-120 p-relative">
            <div class="tp-footer-shape-one">
               <img src="{% static 'img/creative/creative-hand.png' %}" alt="">
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-xl-12 wow tpfadeUp" data-wow-duration=".3s" data-wow-delay=".5s">
                     <div class="footer-widget-info text-center">
                        <h2 class="tp-footer-title pb-15">Let’s Elevate Your Operations</h2>
                        <p>At Injector & Lary Oilfield Services, we excel in providing top-tier maintenance, fabrication, and field solutions with unmatched reliability. If you are interested in leveraging our expertise, please contact us.</p>
                        <a class="tp-btn mb-50" href="{% url 'core:contact' %}">Contact Us</a>
                        
                     </div>
                  </div>
               </div>
               <div class="tp-copyright-bottom wow tpfadeUp" data-wow-duration=".5s" data-wow-delay=".7s">
                  <div class="row align-items-center">
                     <div class="col-xl-4 col-lg-4 col-md-12 col-12">
                        <div class="tp-copyright-logo-box text-md-center text-center text-lg-start mb-30">
                           <div class="tp-copyright-logo">
                              <a href="{% url 'core:home' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="tp-cpoyright-menu text-md-start text-center text-lg-center mb-30">
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
                        <div
                    class="tp-copyright-social tp-copyright-social-two text-center text-lg-end mb-30"
                  >
                    <a href="https://www.linkedin.com/in/injectorlary-lary-1b415531b/" target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <a href="https://www.facebook.com/profile.php?id=61563503151979" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
   <!-- footer-area-end -->

   <!-- footer-area-end -->

   <button class="scroll-top scroll-to-target" data-target="html">
      <i class="far fa-angle-double-up"></i>
   </button>
{% endblock %}